<form
    hx-post="warehouse/store/item-create"
    hx-target="this"
    hx-swap="outerHTML"
    class="item-new">

    <div class="header">
        <input
            required
            type="hidden"
            name="type_id"
            value="{{ type_id }}" />

        <input
            required
            type="text"
            name="serial"
            placeholder="Serial number"  />
    </div>

    <button type="submit" class="background-size-button">
        Create
    </button>
</form>
