<form
    hx-post="warehouse/store/type-update"
    hx-target="this"
    hx-swap="outerHTML"
    hx-on::response-error="this.outerHTML = event.detail.xhr.responseText"
    class="type-update">

    <div class="header">
        <input
            type="hidden"
            name="id"
            value="{{ type.id }}" />

        <input
            required
            type="text"
            name="name"
            value="{{ type.name }}"
            placeholder="Type name"  />
    </div>

    <button type="submit" class="ui-button">
        Update
    </button>
</form>
