<div id="type-selection" class="type-selection">
    <div class="header">
        <p>{{ type.name }}</p>

        <div class="actions">
            <button
                class="add ui-button"
                hx-get="warehouse/fragment/item-new/{{ type.id }}"
                hx-target="#type-selection"
                hx-swap="innerHTML"
            >+</button>

            <button
                class="update ui-button"
                hx-get="warehouse/fragment/type-update/{{ type.id }}"
                hx-target="#type-selection"
                hx-swap="innerHTML"
            >U</button>
        </div>
    </div>

    <div
        hx-get="warehouse/fragment/items-for-type/{{ type.id }}"
        hx-trigger="load, equipmentItemsChanged from:body"
        hx-swap="innerHTML"
        class="item-list">
        <p class="loading">Loading ...</p>
    </div>
</div>
