{% extends "index.html" %}

{% block header %}
    <link rel="stylesheet" href="static/css/warehouse.css">
{% endblock header %}

{% block navigation %}
    {% set location = "warehouse" -%}
    {% include "fragments/navigation.html" %}
{% endblock navigation %}

{% block content %}

<main class="warehouse">
    <div id="primary" class="primary">

        <input
            name="query"
            placeholder="Search types"
            hx-get="warehouse/fragment/type-search"
            hx-trigger="keyup changed delay:300ms"
            hx-target="#type-list"
            hx-swap="innerHTML"
        />

        <button
            hx-get="warehouse/fragment/type-new"
            hx-target="#secondary"
            hx-swap="innerHTML"
            class="add ui-button">
        +</button>

        <div
            hx-get="warehouse/fragment/type-search"
            hx-trigger="load, equipmentTypesChanged from:body"
            hx-swap="innerHTML"
            id="type-list"
            class="type-list">
            <p class="loading">
                Loading ...
            </p>
        </div>

    </div>

    <div id="secondary" class="secondary">
        <p class="nothing-selected">
            Nothing is selected.
        </p>
    </div>

</main>

{% endblock content %}
