<form
    hx-post="warehouse/equipment-item/update"
    hx-target="this"
    hx-swap="outerHTML"
    class="form-new from-delete">

    <div class="input">
        <input
            type="hidden"
            name="item_id"
            value="{{ item_id }}" />

        <input
            required
            type="text"
            name="serial"
            value="{{ serial }}"
            class="common-input"
            placeholder="Type name"  />
    </div>

    <button class="common-button" type="submit">
        Update
    </button>
</form>