<div class="type-selection" id="type-selection">
    <div class="selection-title">
        <p>{{ name }}</p>

        <button
            hx-get="/warehouse/equipment-item/new/{{ id }}"
            hx-target="#type-selection"
            hx-swap="innerHTML"
        >+</button>
    </div>

    <div
        hx-get="warehouse/equipment-items/{{ id }}"
        hx-trigger="load, equipmentItemsChanged from:body"
        hx-swap="innerHTML"
        class="scroll-list">
        <p class="loading">Loading ...</p>
    </div>
</div>
