{% for type in types %}
<div class="item type-item">
    <div 
        hx-get="/warehouse/equipment-type/select/{{ type.id }}"
        hx-target="#right-section"
        hx-swap="innerHTML"
        class="title">
        <p>{{ type.name }}</p>
    </div>

    <button
        hx-get="/warehouse/equipment-type/remove/{{ type.id }}"
        hx-target="#right-section"
        hx-swap="innerHTML"
        class="common-button"
    >-</button>
</div>
{% else %}
<div class="loading">
    No equipment items found.
</div>
{% endfor %}