:root {
    --background: oklch(0.15 0.01 250);
    --foreground: oklch(0.92 0.01 95);
    --foreground-secondary: oklch(0.78 0.02 95);
    --border-light: oklch(0.18 0.01 250);
    --border: oklch(0.23 0.01 250);
}

* {
    box-sizing: border-box;
}

*:focus, *:focus-visible, *:focus-within {
    background: var(--background);
}

a, p, h1, h2, h3, h4, h5, h6, input, button {
    font-family: "Ubuntu Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
    box-sizing: border-box;
    margin: 0;
}

input, button {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    color: var(--foreground);
}

html {
    background: var(--background);
}

body {
    font-family: "Ubuntu Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
    color: var(--foreground);

    margin: 0;
    display: flex;
    flex-direction: column;
}
