:root {
    --background: oklch(0.15 0.01 250);
    --foreground: oklch(0.92 0.01 95);
    --foreground-secondary: oklch(0.78 0.02 95);
    --border-light: oklch(0.18 0.01 250);
    --border: oklch(0.23 0.01 250);
}

* {
    box-sizing: border-box;
}

*:focus, *:focus-visible, *:focus-within {
    background: var(--background);
}

a, p, h1, h2, h3, h4, h5, h6, input, button {
    font-family: "Ubuntu Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
    box-sizing: border-box;
    margin: 0;
}

html {
    height: 100dvh;
    background: var(--background);
}

body {
    font-family: "Ubuntu Mono", ui-monospace, SFMono-Regular, Menlo, monospace;
    color: var(--foreground);

    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Navigation */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 4rem;
    padding: 0 3rem 0 3rem;
    border-bottom: 1px solid var(--border);
    flex-shrink: 0;

    .title {
        font-size: 1.125rem;
        font-weight: bold;
    }

    .links {
        display: flex;
        gap: 1.5rem;

        font-size: 1rem;
        font-weight: normal;
    }

    .active {
        color: var(--foreground);
    }

    a {
        color: var(--foreground-secondary);
        text-decoration: none;

        &:hover {
            color: var(--foreground);
        }
    }
}

@media (width < 650px) {
    .navigation {
        padding: 0 1.5rem 0 1.5rem;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        height: 5rem;
        gap: 0.5rem;
    }
}
