.orders {
    display: flex;
    width: 100%;
    height: calc(100dvh - 4rem);
    background: var(--background);

    .primary, .secondary {
        width: 100%;
        height: 100%;
    }
}

.primary {
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr 4rem;
    border-right: 1px solid var(--border);

    input {
        padding-left: 2rem;
        border-bottom: 1px solid var(--border);
    }

    .add {
        border-left: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
    }

    .order-list {
        height: calc(100dvh - 8rem - 1px);
        grid-column: 1 / 3;
        overflow-y: auto;

        display: grid;
        grid-template-columns: 1fr 4rem;
        grid-auto-rows: 4rem;

        -ms-overflow-style: none;
        scrollbar-width: none;

        .tag {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 2rem;
            text-transform: uppercase;
        }

        button {
            border-left: 1px solid var(--border);
            height: 4rem;
            width: 4rem;
            flex: 1;
        }
    }
}

.secondary {
    max-width: 650px;

    .selected-stage .items {
        .header {
            display: grid;
            grid-template-columns: 1fr 4rem;

            input {
                padding-left: 2rem;
                width: 100%;
            }

            .add {
                border-left: 1px solid var(--border);
                border-bottom: 1px solid var(--border);
            }
        }

        .order-types {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: calc(100dvh - 4rem - 8rem);
            overflow-y: auto;

            -ms-overflow-style: none;
            scrollbar-width: none;
        }
    }

    .tag {
        text-transform: uppercase;
    }

    .order-new, .order-delete, .order-update {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100dvh - 4rem);

        .header {
            width: 100%;
            height: 4rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--border);

            p {
                padding-left: 2rem;
            }

            input {
                width: 100%;
                padding-left: 2rem;
            }
        }

        button {
            border-top: 1px solid var(--border);
            width: 100%;
        }
    }

    .order-selection {
        display: flex;
        flex-direction: column;

        .header {
            display: flex;
            align-items: center;
            height: 4rem;
            width: 100%;
            border-bottom: 1px solid var(--border);

            p {
                width: 100%;
                padding-left: 2rem;
            }
        }

        .actions {
            display: flex;

            .stage-select {
                width: 8rem;
                border-left: 1px solid var(--border);

                &:hover {
                    background: var(--border-light);
                }
            }

            .update {
                border-left: 1px solid var(--border);
            }
        }

        .stage-select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background: none;
            text-align: center;
            padding: 0 1rem 0 1rem;
        }
    }
}

@media (width < 650px) {
    .orders {
        height: calc(100dvh - 5rem);
    }

    .secondary .selected-stage .items .order-types {
        height: calc(100dvh - 5rem - 8rem);
    }

    .primary .order-list {
        height: calc(100dvh - 5rem - 4rem - 1px);
    }

    .primary {
        border: none;
    }

    .secondary {
        display: none;
    }
}
