.ws-layout {
    max-height: calc(100dvh - 4rem);
    display: flex;
    height: 100%;
}

.right-section {
    display: flex;
    align-items: center;

    width: 100%;
    max-width: 650px;

    border-left: 1px solid var(--border);

    .success, .error {
        width: 100%;
        height: 100%;
        padding: 1rem;
        box-sizing: border-box;
    }

    .default {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .title {
            display: flex;
            align-items: center;
            height: 4rem;
            padding: 0 1rem 0 1rem;
        }
    }

    .warehouse-type-select {
        width: 100%;
        height: 100%;
        box-sizing: border-box;

        .title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 4rem;
            border-bottom: 1px solid var(--border);
        }

        p {
            padding-left: 1rem;
        }

        button {
            height: 100%;
            aspect-ratio: 1 / 1;

            border: none;
            outline: none;
            background: none;
            cursor: pointer;

            border-left: 1px solid var(--border);
            color: var(--foreground);

            &:hover {
                background: var(--border-light);
            }
        }
    }
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 100%;

    .type-list {
        overflow-y: auto;
        scrollbar-width: none;

        .loading {
            padding: 1rem;
        }

        .type-item {
            display: flex;
            align-items: center;
            padding-left: 3rem;
            height: 4rem;

            &:hover {
                background: var(--border-light);
            }
        }
    }

    .ws-search {
        display: flex;
        height: 4rem;
        flex-shrink: 0;
        border-bottom: 1px solid var(--border);

        input {
            width: 100%;
            border: none;
            background: none;
            outline: none;
            font-size: 1rem;
            color: var(--foreground);
            margin-left: 3rem;
        }

        button {
            height: 100%;
            aspect-ratio: 1 / 1;

            border: none;
            outline: none;
            background: none;
            cursor: pointer;

            border-left: 1px solid var(--border);
            color: var(--foreground);

            &:hover {
                background: var(--border-light);
            }
        }
    }
}

/* Partials */

.warehouse-type-new {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .input {
        height: 4rem;
        padding: 0 1rem 0 1rem;
        border-bottom: 1px solid var(--border);
        display: flex;
        align-items: center;

        input {
            width: 100%;
            border: none;
            background: none;
            outline: none;
            font-size: 1rem;
            color: var(--foreground);
        }
    }

    button {
        width: 100%;
        height: 4rem;

        border: none;
        outline: none;
        background: none;
        cursor: pointer;

        border-top: 1px solid var(--border);
        color: var(--foreground);

        &:hover {
            background: var(--border-light);
        }
    }
}
