.warehouse-layout {
    max-height: calc(100dvh - 4rem);
    display: flex;
    height: 100%;
}

.type-item, .item-item {
    display: flex;
    align-items: center;
    height: 4rem;
    justify-content: space-between;

    &:hover {
        background: none;
    }

    .title {
        display: flex;
        align-items: center;
        padding-left: 3rem;
        width: 100%;
        height: 100%;

        &:hover {
            background: var(--border-light);
        }
    }

    button {
        height: 4rem;
        aspect-ratio: 1 / 1;
        border-left: 1px solid var(--border);
        color: var(--foreground);

        &:hover {
            background: var(--border-light);
        }
    }
}

.left-section {
    display: flex;
    flex-direction: column;
    width: 100%;

    .loading {
        display: flex;
        align-items: center;
        padding: 0 1rem 0 3rem;
        height: 4rem;
        width: 100%;
    }

    .search {
        display: flex;
        height: 4rem;
        flex-shrink: 0;
        border-bottom: 1px solid var(--border);

        input {
            color: var(--foreground);
            margin-left: 3rem;
        }

        button {
            height: 4rem;
            aspect-ratio: 1 / 1;
            border-left: 1px solid var(--border);
            color: var(--foreground);

            &:hover {
                background: var(--border-light);
            }
        }
    }
}

.right-section {
    width: 100%;
    border-left: 1px solid var(--border);
    max-width: 620px;
    display: flex;

    .loading {
        display: flex;
        align-items: center;
        padding: 0 1rem 0 3rem;
        height: 4rem;
        width: 100%;
    }

    .type-selection {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        width: 100%;

        .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 4rem;

            &:hover {
                background: var(--background);
            }

            button {
                height: 100%;
                aspect-ratio: 1 / 1;

                border-left: 1px solid var(--border);
                color: var(--foreground);

                &:hover {
                    background: var(--border-light);
                }
            }
        }

        .selection-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid var(--border);
            height: 4rem;
            padding-left: 3rem;

            button {
                height: 4rem;
                aspect-ratio: 1 / 1;

                border: none;
                outline: none;
                background: none;
                cursor: pointer;

                border-left: 1px solid var(--border);
                color: var(--foreground);

                &:hover {
                    background: var(--border-light);
                }
            }
        }
    }
}

/* Partials */

.from-delete {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0 1rem 0 3rem;
        color: var(--foreground);
    }

    button {
        width: 100%;
        height: 4rem;
        border-top: 1px solid var(--border);
        color: var(--foreground);

        &:hover {
            background: var(--border-light);
        }
    }
}

.form-new {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    input {
        display: flex;
        align-items: center;
        height: 4rem;
        padding: 0 1rem 0 3rem;
        border-bottom: 1px solid var(--border);
        color: var(--foreground);
    }

    button {
        width: 100%;
        height: 4rem;
        border-top: 1px solid var(--border);
        color: var(--foreground);

        &:hover {
            background: var(--border-light);
        }
    }
}