.warehouse {
    display: flex;
    width: 100%;
    background: var(--background);

    .primary, .secondary {
        width: 100%;
        height: 100%;
    }
}

.primary {
    display: grid;
    grid-template-rows: 4rem 1fr;
    grid-template-columns: 1fr 4rem;
    border-right: 1px solid var(--border);

    input {
        padding-left: 2rem;
        border-bottom: 1px solid var(--border);
    }

    .add {
        border-left: 1px solid var(--border);
        border-bottom: 1px solid var(--border);
    }

    .type-list {
        height: calc(100dvh - 8rem - 1px);
        grid-column: 1 / 3;
        overflow-y: auto;

        display: grid;
        grid-template-columns: 1fr 4rem;
        grid-auto-rows: 4rem;

        -ms-overflow-style: none;
        scrollbar-width: none;

        .name {
            display: flex;
            align-items: center;
            width: 100%;
            padding-left: 2rem;
        }

        button {
            border-left: 1px solid var(--border);
            height: 4rem;
            width: 4rem;
            flex: 1;
        }
    }
}

.secondary {
    max-width: 650px;

    .item-update, .item-delete, .item-new,
    .type-update, .type-delete, .type-new {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: calc(100dvh - 4rem);

        .header {
            width: 100%;
            height: 4rem;
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--border);

            p {
                padding-left: 2rem;
            }

            input {
                width: 100%;
                padding-left: 2rem;
            }
        }

        button {
            border-top: 1px solid var(--border);
            width: 100%;
        }
    }

    .type-selection {
        display: flex;
        flex-direction: column;

        .item-list {
            display: grid;
            grid-template-rows: 4rem 1fr;
            grid-template-columns: 1fr 4rem;

            .name {
                display: flex;
                align-items: center;
                width: 100%;
                padding-left: 2rem;
            }

            button {
                border-left: 1px solid var(--border);
            }
        }

        .header {
            display: flex;
            align-items: center;
            height: 4rem;
            width: 100%;
            border-bottom: 1px solid var(--border);

            p {
                width: 100%;
                padding-left: 2rem;
            }

            .actions {
                display: flex;

                .add {
                    border-left: 1px solid var(--border);
                }

                .update {
                    border-left: 1px solid var(--border);
                }
            }
        }
    }
}


@media (width < 650px) {
    .primary .type-list {
        height: calc(100dvh - 9rem - 1px);
    }

    .primary {
        border: none;
    }

    .secondary {
        display: none;
    }
}
