<form
    hx-post="orders/store/order-update"
    hx-target="this"
    hx-swap="outerHTML"
    hx-on::response-error="this.outerHTML = event.detail.xhr.responseText"
    class="order-update">

    <div class="header">
        <input
            type="hidden"
            name="id"
            value="{{ order.id }}" />

        <input
            required
            type="text"
            name="tag"
            value="{{ order.tag }}"
            placeholder="Order tag"  />
    </div>

    <button type="submit" class="ui-button">
        Update
    </button>
</form>
