<form
    hx-post="orders/store/order-line-delete"
    hx-target="this"
    hx-swap="outerHTML"
    hx-on::response-error="this.outerHTML = event.detail.xhr.responseText"
    class="order-line-delete">

    <div class="header">
        <p>Are you sure you want to remove order line:
            <span class="tag">{{ eq_type.1.name }}</span>
        </p>

        <input type="hidden" name="line_id" value="{{ line_id }}" />
    </div>

    <button type="submit" class="ui-button">
        Delete
    </button>
</form>
